<br><br><br>

  <h3 class="center-align">Sign up</h3>
    <p class="center-align">Sign up and start saving your snippets!</p>

  <div class="row">
    <%= render 'form' %>
  </div>



<!-- <%= link_to 'Back', users_path %> -->
