

<div class=center-align>

<!-- Logo Header HERE -->
  <!-- <h3>CUT TO IT</h3> -->



<!-- Background image -->
<!-- <div class="background-image">

<! HOME PAGE PARALLAX -->
<div class="parallax-container">
   <div class="parallax">  <%= image_tag("brickwall.jpg") %>
</div>
    <div class="section transparent">
      <center>
      <div class="row 6">
        <h2 class="header">CUT TO IT</h2>
      </center>
     <!-- Textbox to use simplit  -->
     <center>
        <div class="row">
          <form class="col s8">
            <div class="row">
              <div class="input-field col s10">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Use Simplit now!</label>
              </div>
            </div>
          </form>
        </div>
     </center>

        </div>
    </div>

 <!-- </div>
 Background image closing -->


  <!-- Submit button -->
    <div class="snip-button">
      <%= link_to new_snippet_path, class: "btn waves-effect waves-light cyan accent-4" do %>
      <i class="fa fa-scissors"></i>
      <% end %>
    </div>
  </div>

  <!-- End of container -->
