
<div class="center-align">


  <br>
    <div class="section">
      <div class="row container center-align">
        <!-- <h2 class="header">CUT TO IT</h2> -->
        <%= image_tag("cuttoit.png")%>
      </div>
    </div>

    <!-- Simplit description -->
      <p class="center-align">
        Too long to read? Let's get to the point. Copy and paste your text below!
      </p>
  <br>



    <!-- Partial that summarizes input on homepage -->
    <div class="row container center-align">
      <%= render "user_input" %>

      <!-- This button copies the summarized content to the user's clipboard -->
        <button class="btn waves-effect waves-light cyan accent-4 z-depth-4 pair-buttons" id="copy-button" data-clipboard-target="#home-user-input-sum"><i class="fa fa-clipboard"></i>
        </button>
    </div>

</div>
<!-- End of alignment -->
