
<div class="center-align">

<!-- PARALLAX HOME PAGE -->
<!-- <div class="parallax-container">
  <div class="parallax">
    <%= image_tag("brickwall.jpg") %>
  </div> -->
<!-- </div> -->
<div class="section">
  <div class="row container">
    <h2 class="header">CUT TO IT</h2>
  </div>
</div>
  <div class="row container center-align">
    <!-- Textbox to use simplit  -->
    <form class="col s12">
      <div class="row container">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea grey-text"></textarea>
          <label for="textarea1"></label>
        </div>
      </div>
    </form>
  </div>
  <!-- Submit button -->
  <div class="snip-button">
    <%= link_to new_snippet_path, class: "btn waves-effect waves-light cyan accent-4" do %>
    <i class="fa fa-scissors"></i>
    <% end %>
  </div>

<!-- <center>
    <div class="parallax-container">
      <div class="parallax">
        <%= image_tag("brickwall.jpg") %>
      </div>
    </div> <br><br>
</center> -->


</div>
<!-- End of alignment -->
