

<div class=center-align>

  <!-- Logo Header HERE -->
  <!-- <h3>CUT TO IT</h3> -->



  <!-- Background image -->
  <!-- <div class="background-image">

  <! HOME PAGE PARALLAX -->
  <div class="parallax-container">
    <div class="parallax">
      <%= image_tag("brickwall.jpg") %>
    </div>
  </div>
  <div class="section transparent">
    <center>
      <div class="row container">
        <h2 class="header">CUT TO IT</h2>
      </div>
      <div class="row container">
        <form class="col s8">
          <div class="row container">
            <div class="input-field col s10">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Use Simplit now!</label>
            </div>
          </div>
        </form>
      </div>
      <!-- Textbox to use simplit  -->





      <!-- </div>
      Background image closing -->


      <!-- Submit button -->
      <div class="snip-button">
        <%= link_to new_snippet_path, class: "btn waves-effect waves-light cyan accent-4" do %>
        <i class="fa fa-scissors"></i>
        <% end %>
      </div>


      <!-- End of container -->
