
<div class="center-align">

  <div class="section">
    <div class="row container">
      <h2 class="header">CUT TO IT</h2>
    </div>
  </div>

  <!-- Basic Textbox for simplit-input -->
    <div class="row container center-align">
      <textarea class="simplit-input col s12">
      </textarea>
    </div>


    <!-- Submit button -->
    <div class="snip-button">
      <%= link_to new_snippet_path, class: "btn waves-effect waves-light cyan accent-4" do %>
      <i class="fa fa-scissors"></i>
      <% end %>
    </div>

</div>
<!-- End of alignment -->
