
<div class="center-align">


  <br>
    <div class="section">
      <div class="row container center-align">
        <!-- <h2 class="header">CUT TO IT</h2> -->
        <%= image_tag("cuttoit.png")%>
      </div>
    </div>

    <!-- Simplit description -->
      <p class="center-align">
        Too long to read? Lets get to the point. Copy and paste your text below!
      </p>
  <br>



    <!-- Basic Textbox for simplit-input -->
    <div class="row container center-align">
      <!-- <textarea class="simplit-input col s12">
      </textarea> -->
      <%= form_tag '/' do %>
      <%= text_area_tag :user_input, @input, :class => "simplit-input col s12" %>
    </div>

    <br>

    <%= button_tag "<i class='fa fa-scissors'></i>".html_safe, :class => "btn waves-effect waves-light cyan accent-4 z-depth-4" %>

    <% end %>


</div>
<!-- End of alignment -->
