/*// Place all the styles related to the Page controller here.*/
/*// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #simplit-input{
//   display: flex;
//   justify-content: center;
// }*/

h3{
  font-family: 'Josefin Sans';
}


// body{
//   background-image: url("blackpaint.jpg");
// }

// Text area text color
// .materialize-textarea .textarea1{
//   color: white;
//
// }


div textarea.simplit-input{
    background-color: rgba(192, 192, 192, 0.2);
    border-radius: 25px;
    width: 50%;
    height: 100px;
    font-size: 20px;

}

input:focus, textarea:focus {
    outline: none;
}
