/*// Place all the styles related to the Page controller here.*/
/*// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #simplit-input{
//   display: flex;
//   justify-content: center;
// }*/

h3{
  font-family: 'Josefin Sans';
}

// font size for small simplit description
p{
  font-size: 18px;
}

// Makes text area transparent and fixes sizing/border
div textarea.simplit-input{
    background-color: rgba(192, 192, 192, 0.2);
    border-radius: 38px;
    width: 50%;
    height: 170px;
    font-size: 20px;
}

// No more ugly blue outline for simplit input box
input:focus, textarea:focus {
    outline: none;
}

// style button
.btn.waves-effect{
  border-radius: 20px;
}

// pair button styling
.pair-buttons{
  margin: 15px 5px;

}
