/*// Place all the styles related to the Page controller here.*/
/*// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #simplit-input{
//   display: flex;
//   justify-content: center;
// }*/

h3{
  font-family: 'Josefin Sans';
}

div textarea.simplit-input{
    background-color: rgba(192, 192, 192, 0.2);
    border-radius: 25px;
    width: 50%;
    height: 100px;
    font-size: 20px;
}

// No more ugly blue outline for simplit input box
input:focus, textarea:focus {
    outline: none;
}
